<footer>
    <section id="footer1" background="Fondo3.jpg">
        <img class="margen"  src="./assets/imagenes/Logos/logofooter.png" align=left >
       
            <img class="aliniar1" src="./assets/imagenes/Logos/mastercard.png" alt="">
            <img class="aliniar2"  src="./assets/imagenes/Logos/Diners.png" alt="">
            <img class="aliniar3"  src="./assets/imagenes/Logos/visa.png" alt=""> 
        
        <div class="mover" align=right >

        <h3>Contactenos</h3>
        <h4>whatsapp</h4>
        <h5>3125598320-3212722057</h5>
        <a href="https://www.facebook.com/" target="_blank"><h4>facebook</h4></a>
        <p>Todos los derechos reservados © Tienda Dary 2020</p>
        </div>
    </section>
</footer>
