#footer1{
    margin-top: -45px;
    padding: 6em 0 6em 0 ;
    background-attachment: fixed,                           fixed,                          fixed;
    background-position: top left,                      center center,                  center center;
    background-size: auto,                          cover,                          cover;
    text-align: center;
}

.margen{
    width: 200px;
    height: 100px;
    margin-left: 0.5%;
}

.mover{
    position: absolute;
    margin-top: -8%;
    margin-left: 75%;
}

.aliniar1{
    float: left;
    width: 6%;
    height: 3%;
    margin-left: 20%;
}

.aliniar2{
    float: right;
    width: 6%;
    height: 3%;
    margin-right: 45%;
}

.aliniar3{

    width: 6%;
    height: 3%;
}
