
<section>

    <h3>FRUTAS Y VERDURAS</h3>
    <div class="contenedor-serv">

        <div class="targeta">
            <img src="./assets/imagenes/Frutas/fruta1.jpg" class="card-img-top" alt="CamisasHombre">
            <div class="card">
              <h4 >Maracuyá x 1000g</h4>
              <p> Precio:5.900 COP</p>
              <a href="Hombre.html" class="btn btn-primary">COMPRAR</a>
            </div>
        </div>

        <div class="targeta">
            <img src="./assets/imagenes/Frutas/frutas2.jpg" class="card-img-top" alt="CamisasHombre">
            <div class="card">
              <h4 >Banano criollo x 1000 g</h4>
              <p> Precio:3.000 COP</p>
              <a href="Hombre.html" class="btn btn-primary">COMPRAR</a>
            </div>
        </div>

        <div class="targeta">
            <img src="./assets/imagenes/Frutas/fruta3.jpg" class="card-img-top" alt="CamisasHombre">
            <div class="card">
              <h4 >Aguacate injerto x unidad</h4>
              <p> Precio:4.800 COP</p>
              <a href="Hombre.html" class="btn btn-primary">COMPRAR</a>
            </div>
        </div>

        <div class="targeta">
            <img src="./assets/imagenes/Frutas/verdura1.jpg" class="card-img-top" alt="CamisasHombre">
            <div class="card">
              <h4 >Cebolla Ocañera x kilo</h4>
              <p> Precio:5.000 COP</p>
              <a href="Hombre.html" class="btn btn-primary">COMPRAR</a>
            </div>
        </div>

        <div class="targeta">
            <img src="./assets/imagenes/Frutas/verdura2.jpg" class="card-img-top" alt="CamisasHombre">
            <div class="card">
              <h4 >zanahoria x kilo</h4>
              <p> Precio:3.100 COP</p>
              <a href="Hombre.html" class="btn btn-primary">COMPRAR</a>
            </div>
        </div>

        <div class="targeta">
            <img src="./assets/imagenes/Frutas/verdura3.jpg" class="card-img-top" alt="CamisasHombre">
            <div class="card">
              <h4 >Papa sabanera x kilo</h4>
              <p> Precio:3.200 COP</p>
              <a href="Hombre.html" class="btn btn-primary">COMPRAR</a>
            </div>
        </div>

    </div>

</section>
