
<section>

    <h3>GRANOS Y DISPENSA</h3>
    <div class="contenedor-serv">

        <div class="targeta">
            <img src="./assets/imagenes/Granos/grano1.jpg" class="card-img-top" alt="Grano1">
            <div class="card">
              <h4 >Frijoles x kilo</h4>
              <p> Precio:5.500 COP Kilo</p>
              <a  class="btn btn-primary">COMPRAR</a>
            </div>
        </div>

        <div class="targeta">
            <img src="./assets/imagenes/Granos/grano2.jpg" class="card-img-top" alt="Grano2">
            <div class="card">
              <h4 >Arroz x kilo</h4>
              <p> Precio:6.000 COP Kilo</p>
              <a  class="btn btn-primary">COMPRAR</a>
            </div>
        </div>

        <div class="targeta">
            <img src="./assets/imagenes/Granos/grano3.jpg" class="card-img-top" alt="Grano3">
            <div class="card">
              <h4 >Harina Pan x kilo</h4>
              <p> Precio:3.900 COP</p>
              <a  class="btn btn-primary">COMPRAR</a>
            </div>
        </div>

        <div class="targeta">
            <img src="./assets/imagenes/Granos/dispensa1.jpg" class="card-img-top" alt="Dispensa1">
            <div class="card">
              <h4 >Jabón Protex x3 Unidades</h4>
              <p> Precio:6.500 COP</p>
              <a  class="btn btn-primary">COMPRAR</a>
            </div>
        </div>

        <div class="targeta">
            <img src="./assets/imagenes/Granos/dispensa2.jpg" class="card-img-top" alt="Dispensa2">
            <div class="card">
              <h4 >Papel de baño Familia Alcolchamax extra Grande x6 unidades</h4>
              <p> Precio:15.000 COP</p>
              <a  class="btn btn-primary">COMPRAR</a>
            </div>
        </div>

        <div class="targeta">
            <img src="./assets/imagenes/Granos/dispensa3.JPG" class="card-img-top" alt="Dispensa3">
            <div class="card">
              <h4 >Aceite Gourmet Familia x 1000ml</h4>
              <p> Precio:12.000 COP</p>
              <a  class="btn btn-primary">COMPRAR</a>
            </div>
        </div>

    </div>

</section>
