
<section>

    <h3>CARNES Y LACTEOS</h3>
    <div class="contenedor-serv">

        <div class="targeta">
            <img src="./assets/imagenes/Carnes/carne1.jpg" class="card-img-top" alt="Carnes1">
            <div class="card">
              <h4 >Carne para freir bota en bandeja x450gr</h4>
              <p> Precio:8.900 COP</p>
              <a href="Hombre.html" class="btn btn-primary">COMPRAR</a>
            </div>
        </div>

        <div class="targeta">
            <img src="./assets/imagenes/Carnes/carne2.jpg" class="card-img-top" alt="Carnes2">
            <div class="card">
              <h4 >pollo sin visceras bandeja x 1,5 kge</h4>
              <p> Precio:16.000 COP</p>
              <a href="Hombre.html" class="btn btn-primary">COMPRAR</a>
            </div>
        </div>

        <div class="targeta">
            <img src="./assets/imagenes/Carnes/carne3.jpg" class="card-img-top" alt="Carnes3">
            <div class="card">
              <h4 >Chuletas De Cerdo  X1000g</h4>
              <p> Precio:20.000 COP</p>
              <a href="Hombre.html" class="btn btn-primary">COMPRAR</a>
            </div>
        </div>

        <div class="targeta">
            <img src="./assets/imagenes/Carnes/lacteos1.png" class="card-img-top" alt="Lacteos1">
            <div class="card">
              <h4 >Leche lamejor x 900ml</h4>
              <p> Precio:2.000 COP</p>
              <a href="Hombre.html" class="btn btn-primary">COMPRAR</a>
            </div>
        </div>

        <div class="targeta">
            <img src="./assets/imagenes/Carnes/lacteos2.jpg" class="card-img-top" alt="Lacteos2">
            <div class="card">
              <h4 >Carton de huevos x 30 unidades</h4>
              <p> Precio:10.000 COP</p>
              <a href="Hombre.html" class="btn btn-primary">COMPRAR</a>
            </div>
        </div>

        <div class="targeta">
            <img src="./assets/imagenes/Carnes/lacteos3.jpg" class="card-img-top" alt="Lacteos3">
            <div class="card">
              <h4 >Quesos variados kilo</h4>
              <p> Precio:25.000 COP</p>
              <a href="Hombre.html" class="btn btn-primary">COMPRAR</a>
            </div>
        </div>

    </div>

</section>
