
<h1>Contactenos</h1>

<div class="tam">
    <form class="form-horizontal">
        <div class="form-group has-success has-feedback id">
          <label class="control-label col-sm-3" for="inputSuccess3">Nombre y Apellido</label>
          <div class="col-sm-9">
            <div class="col-xs-6">
                <input type="text" class="form-control" placeholder="Nombre">
              </div>
              <div class="col-xs-6">
                <input type="text" class="form-control" placeholder="Apellido">
              </div>
          </div>
        </div>
        <div class="form-group has-success has-feedback">
          <label class="control-label col-sm-3" for="inputGroupSuccess2">Correo</label>
          <div class="col-sm-9">
            <div class="input-group">
              <span class="input-group-addon">@</span>
              <input type="text" class="form-control" id="inputGroupSuccess2" aria-describedby="inputGroupSuccess2Status">
            </div>
          </div>
        </div>
        <div class="form-group has-success has-feedback">
            <label class="control-label col-sm-3" for="inputSuccess3">Fecha</label>
            <div class="col-sm-9">
              <div class="col-xs-4">
                  <input type="text" class="form-control" placeholder="Dia">
                </div>
                <div class="col-xs-4">
                  <input type="text" class="form-control" placeholder="Mes">
                </div>
                <div class="col-xs-4">
                    <input type="text" class="form-control" placeholder="Año">
                  </div>
            </div>
        </div>
        <div class="form-group has-success has-feedback">
            <label class="control-label col-sm-3" for="inputSuccess3">Seleccione</label>
            <div class="col-sm-9">
             <select class="form-control input-lg">
                 <option value="">Alcobas</option>
                 <option value="">Salas</option>
                 <option value="">Comedores</option>
             </select>
            </div>
        </div>

        <div class="form-group has-success has-feedback">
            <label class="control-label col-sm-3" for="inputSuccess3">Mesajes</label>
            <div class="col-sm-9">
                 <textarea class="form-control" rows="3"></textarea>
            </div>
        </div>
        <button type="button" class="btn btn-primary btn-lg active">Enviar</button>
      </form>
</div>
