.body{
    background-attachment: fixed,                           fixed,                          fixed;
    background-position: top left,                      center center,                  center center;
    background-size: auto,                          cover,                          cover;
    text-align: center;
}
