#footer {
    padding: 6em 0 6em 0 ;
    background-attachment: fixed,                           fixed,                          fixed;
    background-position: top left,                      center center,                  center center;
    background-size: auto,                          cover,                          cover;
    text-align: center;
}
.h1, h1 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 5.5rem;
}

